@charset "UTF-8";

/*-------------------------------------------------
visual - S
-------------------------------------------------*/
.visual {
    width: 100%; height: 720px; min-width: 1240px;
    background: url(/asset//img/main-visual01.jpg) no-repeat center center; background-size: cover;
}
.visual img {
}

/*-------------------------------------------------
serviec - S
-------------------------------------------------*/
.serviec{}


/*-------------------------------------------------
contents - S
-------------------------------------------------*/
.contents{}


/*-------------------------------------------------
course - S
-------------------------------------------------*/
.course{}


/*-------------------------------------------------
news - S
-------------------------------------------------*/
.news{}




@media only screen and (max-width:1240px){

    .visual {
       height: 80vw; min-width: 100%;
    }


}





